*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg,rgb(133, 125, 162),rgb(70, 71, 160),rgb(46, 28, 128));
}
nav{
    background-color: none;
}
nav li{
    height: 50px;
}
nav ul{
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:24px;
    padding: 14px;
    font-size: 24px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
   
    padding: 0px 30px;
    height: 100%;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: rgb(72, 68, 68);
    text-decoration: underline;
}
.responsive-nav{
    backdrop-filter: blur(0.9px);
    border-radius: 8px;
    position: fixed;
    top:0px;
    right: 0px;
    height: 100vh;
    width: 270px;
    z-index:999;
    background-color: rgba(156, 156, 156, 0.853);
    box-shadow: -10px 0 10px (0,0,0,0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.responsive-nav li{
    width: 100%;
}
.responsive-nav li a{
    width: 100%;
}
.responsive-nav li:hover{
    border-radius:8px ;
    text-decoration: underline;
    background-color: #7e7b7bce;
}
.menu-button{
    display: none;
}
@media (max-width:600px) {
    .hideonmobile{
        display:none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .responsive-nav{
        width: 100%;
    }
}

h2 , .hello,span {
    text-align: end;
    font-size: 60px;
}
.left-part{
    margin: 100px 0px 52px 140px;
}
.left-part >img{
    border-bottom:10px ;
    border-radius: 40%;
    box-shadow: 8px 10px 4px rgb(119, 119, 177);
    /* transform: skewY(20deg); */
    width: 390px;
}
#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    height: 100vh;
}
.right-part{
    text-align: end;
     width: 50%;
  /*height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 90px; */
    animation: text 1.4s;
}
@keyframes text{
    0%{transform:translatey(150%);}
    100%{transform: translatey(0%);}
}
@media(max-width:590){
    #about{
        padding: 60px;
        height: 40vh;
    }
}
@media(max-width:985px){
    .left-part{
        display: none;
    }
    .right-part{
        text-align: right;
    }
    h2 , .hello,span {
        width: 100%;
        text-align:end;
        font-size: 40px;
    }
}
.container{
    border: 1px solid white;
    height: 100vh;
  margin-top: 110px;
}

.container .content{
    width: 100vw;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .content .image-text{
    border-radius: 8px;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: 10px 10px 4px rgb(128, 128, 128);
  font-size: 20px;
  padding: 1px;
}
.container .content .image-text a{
    color: #7e7b7bce;
    text-decoration: none;
}

.container .content img{
    border-radius: 8px;
    width: 350px;
    height: 300px;
    transition: 1.4s;
}
@media(max-width:1108px){
    /* .container .content{
        flex-grow: 300px;
    } */
    .container .content .image-text:first-child img{
        width: 600px;
        justify-content: center;
        align-items: center;
    }
    .container .content .image-text:nth-child(2){
        display: block;
    }
    .container .content .image-text:nth-child(3){
        display: block;
    }
}
.container .content .image-text img:hover{
    backdrop-filter: blur(10px);
}
 .container .content .image-text img:hover{
    object-fit: cover;
    transform: translateY(-4%);
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.319),rgba(128, 128, 128, 0.336)); 
} 
.hover1:hover{
    background-color: white;
    backdrop-filter:opacity(0.3) ;
}
@media(max-width:1084px){
    .container .content{
        margin-top:20px;
       flex-direction: row;
       gap: 10px;
    }
}

hr{
    align-content: center;
    width: 20%;
    margin-bottom: 8px;
}
.center{
    font-size: 2rem;
}
.form-image{
    padding: 10px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.left-form{
    margin: 50px;
    width: 40vw;
}
.flex-input{
    background-color: grey;
    padding: 4px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
}
input , textarea , button{
    margin: 8px 8px 8px 0px;
    border-radius: 8px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 18px;
    padding-left: 4px;
    padding-bottom: 4px;
}

input:active , textarea:active , button:active{
    outline: none;
    border: none;
}

.right-form{
    width: 50vw;
}
.center1{
    width: 400px;
    margin-left:200px ;
}

.name-svg , .email-svg{
    position: relative;
  z-index: 2;
  top: -33px;
  right: -94%;
  width: 13px;

}
.name-svg:active , .email-svg:active{
    color: blue;
}
.network{
    width: 90%;
    height: 60px;
    margin: 10px 70px;
}

.contact-icon{
    width: 24px;
    margin: 20px;
}
.contact-icon:hover{
    color: blue;
    width: 24.5px;
}
