*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sub-color:rgb(107, 107, 201);
}
html{
    scroll-behavior: smooth;
    
}
section{
    height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}
body{
    background-image: linear-gradient(90deg,rgb(133, 125, 162),rgb(70, 71, 160),rgb(46, 28, 128));
}
nav{
    /* background-color: white; */
    
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
nav ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    font-size: 25px;
    padding: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .2s;
}
nav ul li a:hover {
    font-size: 26px;
    filter: invert(100%);
    text-decoration: underline;
}
/* nav ul li{

} */
#menu_icon{
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: rgb(132, 132, 192);
    transition: 0.5s all ease-in;
    font-size: 30px;
}

.left-part{
    margin-left: 50px;
    display: block;
    margin-right: 250px;
}
.left-part img{
    width: 400px;
    border-radius: 40%;
    filter: drop-shadow(20px 20px 10px rgb(36, 24, 139));
}
.right-part{
    font-size:xx-large ;
    font-weight:lighter;
    font-family: Century Gothic , sans-serif;
}

#project-area .content{
    overflow-y: hidden;
    gap: 20px;
    display: flex;
    flex-direction: row;
    height:90vh;
    width:90vw;
    border-radius: 15px;

}
.content{
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.image-text:hover p{
    top:-100%; 
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hover-center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:xx-large;
    color: beige;
    position: relative;
    backdrop-filter: blur(6px);
    background-image: linear-gradient(180deg,transparent,rgba(255, 255, 255, 0.282));
    height: 100%;
    top: 0;
    transition: 0.5s ease-in  ;
}
.image-text{
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: center;
}
.image-text:hover p a{
    color: azure;
    text-decoration: none;
}
.image{
    max-height: 90vh;
    width:90vw;
}

#navlist{
    transition: 0.5s;
}
@media only screen and (max-width:700px) and (max-height:1000px){
    #project-area .content{
        height: 25vh;
    }
    #menu_icon{
        display: block;
    }
    .left-part{
        display: none;
    }
    #navlist{
        font-size: x-large;
        padding: 4px;
        margin: 10px;
        display: block;
        align-items: self-start;
        position: absolute;
        /* right: -100%; */
        top: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
        margin: 5px;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        border-radius: 30px;
        /* box-shadow: 0 0 100px black; */
    }
    #menu_icon:hover{text-decoration: none;}
    #navlist span a{
        font-size: medium;
        color: var(--black);
    }
    nav *:hover{
        text-decoration: none;
    }
    .linkclose{
        right: -100%;
    }
    .linkopen{
        right: 0;
    }
}


#project-area .content::-webkit-scrollbar{
    height: 10px;
    border-radius: 15px;
}
#project-area .content::-webkit-scrollbar-track {
    background:transparent;
    border-radius: 15px;
}
#project-area .content::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}

form{
    /* border-radius: 10px;
    box-shadow:6px 8px 8px rgb(183, 183, 201) ; */
    display: flex;
    flex-direction: column;
}
form *{
    margin: 10px;
}
input{
    border: 0;
    background-color: transparent;
    font-size: x-large;
    outline: none;
    color: white;
}
 textarea , button{
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: x-large;
}
form .center{
    font-size:xx-large;
    color: rgb(198, 193, 211);
}
form div{
    border: 1px solid white;
    border-radius: 15px;
}
button[type="submit"]{
    cursor: pointer;
    transition: .2s;
}
button[type="submit"]:hover{
    background-color: rgb(63, 63, 197);

    transform: scale(1.06);
}
button[type="submit"]:active{
    filter: invert(100%);
}
.svg{
    margin: 0px 0px 5px -10px;
    font-size: 22px;
}

footer{
    position: relative;
    margin: 40px 0px 0px 0px ;
    bottom: 0;
    display: flex;
}
.network a i{
    color: black;
    font-size: 40px;
    margin: 0;
    padding: 0; 
    width: 40px;
}
.network a .fa-linkedin{
    color: rgb(12, 12, 173);
}
